


* {
    margin:0;
    padding: 0;
    color:$dark-foreground-color;
    font-family: Arial, Helvetica, sans-serif;
}

*,*::before,*::after {

    box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover {
    color:$accent-color;
    font-weight: bold;
  }


}

div#container {
    display: flex;
    flex-direction: column;


}
div#content {
    display:inherit;
    section {
        display:inherit;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80vw;
    }
    aside {
        width: 20vw;
    }
}
article {
    flex: 33.33%;
    div {
        margin: $general-margin;
        border: 1px solid $grey-foreground-color;
        img {
            height: 500px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}